<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <h1>NINJA INFO</h1>
    <% for(var i = 0; i < ninja.length; i++) { %>
    <h3>Name: <%= ninja[i].name%></h3>
    <h4>Age: <%= ninja[i].age%></h4>
    <h4>Weapon(s): <%= ninja[i].weapon%></h4>
    <a href="/">See all ninjas</a>
    <a href="/ninjas/edit/<%=ninja[i]._id%>">edit</a>
    <p>
      <form action="/ninjas/destroy/<%= ninja[i]._id%>" method="post">
      <input type="submit" value="Destroy this Ninja!">
      </form>
    </p>
    <% } %>
  </body>
</html>
